/* Notice
----------------------------------*/
.ui-pnotify {
	top: 18px;
	right: 18px;
	position: absolute;
	height: auto;
	/* Ensure that the notices are on top of everything else. */
	z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify {
	position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
	margin: 0;
	position: absolute;
	top: .1em;
	left: .1em;
	bottom: -.2em;
	right: -.2em;
	z-index: -1;
}
.ui-pnotify-container {
	background-position: 0 0;
	padding: .8em;
	height: 100%;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
	float: right;
	margin-left: .2em;
}
.ui-pnotify-title {
	display: block;
	font-size: 1.2em;
	line-height: 1;
	font-weight: bold;
	margin-bottom: .4em;
}
.ui-pnotify-text {
	display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
	display: block;
	float: left;
	margin-right: .2em;
}
/* History Pulldown
----------------------------------*/
.ui-pnotify-history-container {
	position: absolute;
	top: 0;
	right: 18px;
	width: 70px;
	border-top: none;
	/* Ensure that the history container is on top of the notices. */
	z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
	padding: 2px;
}
.ui-pnotify-history-container button {
	cursor: pointer;
	display: block;
	width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
	display: block;
	margin: 0 auto;
}

    /* Alternate stack initial positioning. */
.ui-pnotify.stack-topleft {
        top: 15px;
        left: 15px;
        right: auto;
}
.ui-pnotify.stack-bottomleft {
        bottom: 15px;
        left: 15px;
        top: auto;
        right: auto;
}
/* This one is done through code, to show how it is done. Look down
        at the stack_bottomright variable in the JavaScript below. */
.ui-pnotify.stack-bottomright {
        /* These are just CSS default values to reset the pnotify CSS. */
        right: auto;
        top: auto;
}
.ui-pnotify.stack-custom {
        /* Custom values have to be in pixels, because the code parses them. */
        top: 200px;
        left: 200px;
        right: auto;
}
.ui-pnotify.stack-custom2 {
        top: auto;
        left: auto;
        bottom: 200px;
        right: 200px;
}
/* This one is totally different. It stacks at the top and looks
        like a Microsoft-esque browser notice bar. */
.ui-pnotify.stack-bar-top {
        right: 0;
        top: 0;
}
.ui-pnotify.stack-bar-bottom {
        margin-left: 12%;
        right: 0;
        bottom: 0;
        top: auto;
        left: auto;
}